<div class="wrapper">
  <div>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam impedit aspernatur corporis expedita
    exercitationem dolorum dolorem ut, tempora magni, ex nisi delectus consequatur est eius! Eius iusto repellendus
    error maiores!
  </div>
  <section class="container">

    <div>
      <div #histogramme></div>
      <div style="opacity:0;position:fixed;" id="tooltip"></div>
    </div>
    <div>
      <div #histogramme2></div>
      <div style="opacity:0;position:fixed;" id="tooltip"></div>
    </div>

  </section>
</div>