<div class="wrapper">
  <div class="text">
    <h2>Touches Distribution between the Defense, Midfield and Offense</h2>
    <p>The visualization breaks down the data of each country into three categories : touches in the defensive, middle, and attacking parts of the field.
      This offers an intuitive and easily comparable view of where on the field teams have been the most active during their games.
      This allows us to gain insights into how <span class="morocco">Morocco</span> measures up against globally recognized powerhouses and
      <span class="african">African</span> teams that are similar.
    </p>
  </div>
  <div class="container">
    <div #waffles></div>
  </div>

</div>