

#tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  border-radius: 5%;
  transition-duration: 0.5s;
}
 
.wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 0 10% */
}

.flex-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: normal;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  text-align: center;
  align-items: stretch;
}

p {
  font-size:17px;
  font-family: Arial ;
}

.top3 {
  color:#03a0c7;
}

.african {
  color:   #DB8500
}

.morocco {
  color : #E80284;
}
