.wrapper {
  margin-top: 5%;
  padding-right: 5%;
}

.top3 {
  color:#03a0c7;
}

.african {
  color:   #DB8500
}

.morocco {
  color : #E80284;
}

.container {
  margin-top: 10%;
}

.text {
  font-size:17px;
  font-family: Arial ;
}