<div class="wrapper">
    <div class="text">
        <h2>Team Efficiency</h2>
        <p>
            This multi-bar reveals information on three sets of data side by side (percentage of successful passes, percentage of shots on target and percentage of successful goal-scoring opportunities). These data sets are represented by clustered bars for each country. This diagram enables us to assess <span class="morocco">Morocco</span>'s performance in various categories in comparison to the <span class="top3">Three World-Class</span> teams and its <span class="african">African</span> peers.
        </p>
    </div>
    <div class="container">
            <div #multiBarChart></div>
    </div>
</div>