<div class="wrapper">
    <div class="text">
        <h2>Team Efficiency</h2>
        <p>
            This multi-bar reveals information on three sets of data side by side (percentage of successful passes, percentage of shots on target and percentage of successful goal-scoring opportunities). These data sets are represented by clustered bars for each country. This diagram enables us to assess Morocco's performance in various categories in comparison to the three world-class teams and its African peers.
        </p>
    </div>
    <div class="container">
            <div #multiBarChart></div>
            <div style="opacity:0;position:fixed;" id="tooltip"></div>
    </div>
</div>