<div class="content" #content>
  <div class="section-nav" #navDots>
    <ng-container *ngFor="let section of sections; let i = index">
      <div 
        class="dot-container" 
        (mouseenter)="showSectionName(i)" 
        (mouseleave)="hideSectionName(i)"
      >
        <span class="dot-text" [ngClass]="{ active: activeSection === i && activeSection !== 0}">{{ section.name }}</span>
        <div 
          class="dot" 
          [ngClass]="{ active: activeSection === i }" 
          (click)="scrollToSection(i)" 
          [title]="section.name"
          [id]="'dot' + i"
        ></div>
      </div>
    </ng-container>
  </div>
  

  <section #section id="section0" class="section heading">
    <div class="logo-container">
      <img src="assets/2022_FIFA_World_Cup.svg" alt="FIFA World Cup" class="logo" />
    </div>
    <h1>
      <span class="morocco">Morocco</span>:<br>
      The Story of an Outsider that Reached the Semifinals
    </h1>

    <br>
    <div class="intro">
      <p>
        During the last FIFA World Cup, the <span class="morocco">Morocco</span> National Football team surprised the
        world by qualifying for the semifinals for the first time in its history, defeating top-tier teams.
      </p>
      <p>
        On this page, we revisit the journey of "The Atlas Lions" that captivated thousands
        around the globe. You will find various visualizations on this page that analyze the team and its performances.
      </p>
      <p>
        To gain a better understanding of the <span class="morocco">Morocco</span> national football team, we compare it
        to the other three semifinalists (Top 3):
        <span class="top3">Argentina</span>,
        <span class="top3">France</span>, and
        <span class="top3">Croatia</span>. Additionally, we compare it to the three closest African teams in the FIFA
        National Rank (Similar African Nations):
        <span class="african">Senegal</span>,
        <span class="african">Tunisia</span>, and
        <span class="african">Ghana</span>.
      </p>
      <p>
        Whether you are a football enthusiast, a supporter of the "Atlas Lions," a football professional, or simply
        interested in the subject, this page is dedicated to helping you visualize the key components that led Morocco to
        achieve the 4th place in the competition.
      </p>
      <br><br>
      <p>
        Throughout this website, the same color code is used to distinguish <span class="morocco">Morocco</span> from the
        two comparison groups:
        the <span class="top3">Top 3 (Argentina, France, Croatia)</span> and the
        <span class="african">Similar African Nations (Senegal, Tunisia, Ghana)</span>.
      </p>
    </div>
  </section>

  <div>
    <app-banner></app-banner>
    <section #section id="section1" class="section viz1-2" #hscroll>
      <app-horizontal-pictogram></app-horizontal-pictogram>
    </section>
    <section #section id="section2" class="section viz3">
      <app-wins-and-losses-bars-chart></app-wins-and-losses-bars-chart>
    </section>
    <section #section id="section3" class="section viz4">
      <app-back-to-back-chart></app-back-to-back-chart>
    </section>
    <section #section id="section4" class="section viz5">
      <app-parallel-coordinates-chart></app-parallel-coordinates-chart>
    </section>
    <section #section id="section5" class="section viz6">
      <multi-bar-chart></multi-bar-chart>
    </section>
    <section #section id="section6" class="section viz7 flex-container">
      <div class="possession">
        <app-possession-histogramme></app-possession-histogramme>
      </div>
      <div class="possession">
        <app-possession-top-four></app-possession-top-four>
      </div>
    </section>

    <section #section id="section7" class="section viz8">
      <app-touches-component></app-touches-component>
    </section>
  </div>
</div>
