<div class="content">

  <section class="section heading">
    <app-introduction></app-introduction>
  </section>
  <section class="section viz1-2" #hscroll>
    <app-horizontal-pictogram></app-horizontal-pictogram>
  </section>
  <section class="section viz3">
    <app-wins-and-losses-bars-chart></app-wins-and-losses-bars-chart>
  </section>
  <section class="section viz4">
    <app-back-to-back-chart></app-back-to-back-chart>
  </section>
  <section class="section viz5">
    <app-parallel-coordinates-chart></app-parallel-coordinates-chart>
  </section>
  <section class="section viz6">
    <app-polar-area-charts></app-polar-area-charts>
  </section>
  <section class="section viz7 flex-container">
    <app-possession-histogramme></app-possession-histogramme>
    <app-possession-top-four></app-possession-top-four>
  </section>

  <section class="section viz8">
    <app-touches-component></app-touches-component>
  </section>

</div>