 
.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1vh;
}

.top3 {
    color:#03a0c7;
  }

  .african {
    color:   #DB8500
  }

  .morocco {
    color : #E80284;
  }

  .toggle-color {
    color: #69f0ae;
  }

.text {
    width: 100%;
    display: flex;
    position: relative;
    font-size: 17px;
    font-family: Arial ;
    text-align: justify;
    text-justify: inter-word;
    flex-direction: column;
    margin-bottom: 1em;
    text-indent: 3px;

    

}

p {
    margin-bottom: 0;
  } 

.container {
  flex-direction: row;

}

.toggle-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }


#tooltip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    border-radius: 5%;
    transition-duration: 1s;
}