<div class="wrapper" #hscroll>
    <div class="text">
      <p>
        First, let's compare the 7 teams in terms of their rosters.
        Initially, in terms of theoretical quality. For this, we represent in white, the players who play in a club that finished
        in the top 5 of one of the 5 major leagues (Bundesliga, La Liga, Serie A, Premier League, Ligue 1) during the 2021-2022 season.
        These players play more important matches and are accustomed to the intensity of very high-level matches needed to perform
        in the World Cup. Players playing elsewhere are in black. We observe that only 5 players from <span class=morocco>Morocco</span>
        play at this level against 20 for <span class="top3">France</span> and even 11 in <span class="african">Senegal</span>.
      </p>
      <p> 
        By clicking on the toggle button, the view changes to a univariate scatterplot that orders players by their age and also shows the average.
        We can see that <span class="morocco">Morocco</span> has a younger squad on average than the <span class="top3">Top 3</span> teams
        and even has the youngest player of the 7 teams studied.
      </p>
    
    </div>
  
      <div class="container">
        <div class="toggle-bar">
            <mat-slide-toggle #toggle (change)="onSlideToggleChange($event)">Sort Players By Age</mat-slide-toggle>
        </div>

            <div #pictogram></div>
        <div style="opacity:0;position:fixed;" id="tooltip"></div>
      </div>
  
  
  </div>