<div class="wrapper" #hscroll>
    <div class="text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam impedit aspernatur corporis expedita
      exercitationem dolorum dolorem ut, tempora magni, ex nisi delectus consequatur est eius! Eius iusto repellendus
      error maiores!
    </div>
  
      <div class="container">
        <div class="toggle-bar">
            <mat-slide-toggle #toggle (change)="onSlideToggleChange($event)">Sort Players By Age</mat-slide-toggle>
        </div>

            <div #pictogram></div>
        <div style="opacity:0;position:fixed;" id="tooltip"></div>
      </div>
  
  
  </div>