<div class="section-wrapper">
  <div class="wrapper">
    <div class="text">
      <h2>
        Scored and Conceded Goals
      </h2>
      <p>
        In this specific visualization, the teams' performances are compared side by side, with <span class="morocco">Morocco</span>, the surprising fourth-placed team, 
        placed in direct comparison with the world-class teams of <span class="top3">Argentina</span> (the champions), <span class="top3">France</span> (2nd place), and <span class="top3">Croatia</span> (3rd place) and its <span class="african">African</span> peers. 
      </p>
      <p>
      The length of the bars represents the quantity of goals scored or conceded, with each bar's direction indicating whether it pertains to goals scored or goals conceded.
      By analyzing this chart, we can discern key insights about <span class="morocco">Morocco</span>'s performance during the tournament. The balance between offensive and defensive performance,
      as well as how these aspects compare with the top three teams, can be understood at a glance.
      </p>
       </div>

    <div class="container">
        <div #chart></div>
    </div>
  </div>
</div>