<div class="section-wrapper">


  <div class="wrapper">
    <div class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam impedit aspernatur corporis
      expedita exercitationem dolorum dolorem ut, tempora magni, ex nisi delectus consequatur est eius! Eius iusto
      repellendus error maiores!</div>

    <section class="container">
      <div style="align-items: center;">
        <div #chart></div>
        <div style="opacity:0;position:fixed;" id="tooltip"></div>
      </div>
    </section>
  </div>
</div>