
.section-wrapper{
    display: flex;
    flex-direction: column;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    margin: auto;
    padding: 5% 0;
    gap: 2%;
}

.text{
    flex : 2;
    flex-wrap: wrap;

    /* padding: 5%; */
    font-size:15px;
    font-family: Arial ;

}

h1 {
    justify-content: center;
    text-align: center;
    font-size: 32px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5%;
  }
  
  p {
    font-size:18px;
    font-family: 'Poppins', sans-serif;
    justify-content:space-evenly;
    text-indent: 3px;
    line-height: 1.5;
    /* margin: 0 10% ; */
  }

.container{
    width: 90%;
    height: 90%;
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    /* background-color: rgba(17, 15, 109, 0.226); */
}

#tooltip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* this centers horizontally in a flex column */
    line-height: 1;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    pointer-events: none;
    transition-duration: 1s;
    pointer-events: none;
    border-radius: 5%;
    transition-duration: 1s;
}

@media (max-width: 600px) {
    .wrapper {
        flex-direction: column;
        gap:unset;
    }

    .section-hero{
        height: 60%;
        font-size: 15px;
        margin-top: 5%;
    }

    .text {
        margin-bottom: 5%;
    }

    .container {
        flex: 1;
    }
}