<div class="wrapper">
    <div class="logo-container">
        <img src="../assets/2022_FIFA_World_Cup.svg" alt='FIFA World Cup' class="logo" />
    </div> 
    <h1><span class="morocco">Morocco</span> :<br> 
        Story Of An Outsider That Reached The Semis
    </h1>

    <p>During the last FIFA World Cup the <span class="morocco">Morocco</span> National Football team shocks that world qualifying for the semi-final for
         the first time of its history.</p>
    <p>On this page, we come back on the competition of "The Atlas Lions" that make vibrate the heart of thousands
         around the globe. You'll encounter of this page, several visualization that decrypt the team and its performances.</p>
    <p>To better understand the profil of the national football team of <span class="morocco">Morocco</span>, we decided to compare it to the 3 other semi-finalist (Top3) : <span class="top3">Argentina</span>,
        <span class="top3">France</span>, <span class="top3">Croatia</span>. And also the 3 closest qualified African teams in the FiFA National Rank (African Countries) : <span class="african">Senegal</span>,
        <span class="african">Tunisia</span>, <span class="african">Ghana</span>. 
    </p>
    <p> Whether you are a football enthousiast, a "Atlas Lions" supporter, a football professionnal, or just interested by the
        subject, this page is dedicated to help you visualize the key components that helped Morocco to reach the 4th place of 
        the competition.
    </p>

    <div>
            <div #legendChart></div>

        
      </div>
    
</div>

