<div class="wrapper">
    <div class="text">
      <h2>Teams Results</h2>
        This section represents the different games that Morocco, the other Top 3 Countries and the similar African teams
        had to play during the tournament. We can see how far each team went in the Tournament and the details for each game.
        We decided to order the Countries with Morocco at first followed by the top 3 countries and by ending with the african teams
        so the comparison between the teams of the different groups will be easier. With this graph, we can see that Morocco 
        is the team that has played against the most countries in the world top 15 (Belgium, Croatia, Portugal, Spain, France).
      </div>
    <div class="container">
            <!-- <div #legend></div> -->
            <div #chart></div>
            <div style="opacity:0;position:fixed;" id="tooltip"></div>
    </div>
</div>