

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 0 10% */

}



.text {
    display: flex;
    position: relative;
    padding: 10px;
    font-size:15px;
    font-family: Arial ;
}


#tooltip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    padding: 1rem;
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    border-radius: 5%;
    transition-duration: 1s;
}
