.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .top3 {
    color: #03a0c7;
  }
  
  .african {
    color: #DB8500;
  }
  
  .morocco {
    color: #E80284;
  }
  
  .text {
    width: 100%;
    font-size: 17px;
    font-family: Arial;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 1em;
    text-indent: 3px;
  }
  