<div class="wrapper">
    <div class="text">
      <h2>Teams Results</h2>
        This section represents the different games that <span class="morocco">Morocco</span>, the <span class="top3">Top 3</span> countries and the <span class="african">Similar African</span> teams
        had to play during the tournament. We can see how far each team went in the tournament and by hovering on a game result, we can see more details about the game (the date, the teams, the score).
        With this data, we can, for example, observe that <span class="morocco">Morocco</span> has particularly faced tough opponents like <span class="top3">Croatia</span>, Belgium, Portugal, Spain or <span class="top3">France</span>.
        This makes the moroccan team the team that has played against the most countries ranked in the world top 15.
      </div>
    <div class="container">
            <!-- <div #legend></div> -->
            <div #chart></div>
            <div style="opacity:0;position:fixed;" id="tooltip"></div>
    </div>
</div>