<div class="wrapper">
  <h2>Game Activity</h2>
    <div class="text">
     <p>
      The following chart is a parallel coordinate chart that represents the performance of
      teams in multiple categories. These categories include the number of passes, the number
      of attempted passes, the number of goal-creating actions, the number of recoveries,
      the number of tackles, and the number of interceptions. 
      This visualization provides an efficient way to compare the
      performances of multiple teams across various variables simultaneously and identify 
      correlations within and between groups that may explain their successes or failures.
     </p>
      </div>
    <div class="container">
            <div #parallelChart></div>
            <div style="opacity:0;position:fixed;" id="tooltip"></div>
    </div>
</div>